In [1]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
customers = pd.read_csv('h-and-m-personalized-fashion-recommendations/customers.csv')
customers = customers[['customer_id','age','fashion_news_frequency','club_member_status']]
customers.head()

,customer_id,age,fashion_news_frequency,club_member_status
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,49.0,NONE,ACTIVE
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,25.0,NONE,ACTIVE
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,24.0,NONE,ACTIVE
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,54.0,NONE,ACTIVE
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,52.0,Regularly,ACTIVE

In [4]:
transactions = pd.read_csv('h-and-m-personalized-fashion-recommendations/transactions_train.csv')
transactions.tail()

,t_dat,customer_id,article_id,price,sales_channel_id
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [5]:
transactions['year'] = pd.DatetimeIndex(transactions['t_dat']).year
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id,year
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2018
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,2018
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,2018

In [6]:
transactions['month'] = pd.DatetimeIndex(transactions['t_dat']).month

In [7]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id,year,month
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018,9
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,2018,9
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,2018,9
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2,2018,9
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2,2018,9

for customer who bought at least 20 pieces in 2020

In [8]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
 5   year              int64
 6   month             int64
dtypes: float64(1), int64(4), object(2)
memory usage: 1.7+ GB

In [9]:
transactions_per_year = transactions[['year','customer_id']].value_counts().reset_index()

In [10]:
transactions_per_year.columns=['year', 'customer_id', 'num_of_purchase']
transactions_per_year

,year,customer_id,num_of_purchase
0,2019,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,959
1,2019,b14bfba3ae0da5af6e9711059773acf713cd7bb9a2c940...,865
2,2020,b637a3e7d8b0caa947aaefd609b8d84a9ee962cf0a52a5...,790
3,2020,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,738
4,2019,b4db5e5259234574edfff958e170fe3a5e13b6f146752c...,738
...,...,...,...
2420706,2019,5ed53c640dce39c16c0f1f64ac2ef74aef4446b25f693e...,1
2420707,2019,c95b23549f88cfbd7c073901985dab327aa0c3910791db...,1
2420708,2020,a0334cb99c08d88028a9254319d77a9b8a4c3b45206937...,1
2420709,2018,40252ad9a762499cefe3c6b067e857021de4e3a72ed3c4...,1
2420710,2018,ab0548745ea36411ac601f1b068a9fdec6ee3d8b121cd2...,1

transaction for customer who bought at least 20 pieces in 2020

In [11]:
freq_trans=transactions_per_year[(transactions_per_year['num_of_purchase']>29)&(transactions_per_year['year']==2020)]

In [12]:
freq_trans

,year,customer_id,num_of_purchase
2,2020,b637a3e7d8b0caa947aaefd609b8d84a9ee962cf0a52a5...,790
3,2020,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,738
10,2020,4308983955108b3af43ec57f0557211e44462a56332383...,643
17,2020,67931690bdf18d2e328854ae772cd5ce2505fdc1116469...,616
18,2020,a65f77281a528bf5c1e9f270141d601d116e1df33bf9df...,613
...,...,...,...
263386,2020,f0cb4a88601ec71fe3c15c0c1d50459bb569f8081f7bdf...,30
263388,2020,ae22055cd8fe3c60c520f58472dff3649fde935ec8d62d...,30
263389,2020,a12035d24b8840ad1474ca7b560e815c4671f6266e0fb0...,30
263390,2020,c9053143319f8012f0f89df5338834237fee78662ba38b...,30
263392,2020,d6e08174fb4690dfa19564aa9f5242bdf745f9174b3bad...,30

In [13]:
freq_trans_info = transactions[transactions['customer_id'].isin(freq_trans['customer_id'])]

In [14]:
freq_trans_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10641073 entries, 57 to 31788323
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
 5   year              int64
 6   month             int64
dtypes: float64(1), int64(4), object(2)
memory usage: 649.5+ MB

In [15]:
ran_freq_trans_info = freq_trans_info.sample(n=40000)
ran_freq_trans_info

,t_dat,customer_id,article_id,price,sales_channel_id,year,month
10699773,2019-05-24,0da46d2971859c31c9490b4e81cc527eae0bbd65ab2198...,762281001,0.025407,1,2019,5
560977,2018-09-30,1cb959fbc348d5cfba467f25fe0a7a115e726111315925...,687260002,0.033881,1,2018,9
16159525,2019-09-02,3f5c0751771ac0974abe4b0d81629598cf5cbd8b76251d...,534357002,0.042356,2,2019,9
22975231,2020-03-03,8cef2d54d9b033f86afa086c8f6568741ac84babb5e377...,826218001,0.011847,2,2020,3
16881134,2019-09-22,c0c8fdeefac1e7bc5c759f52a9daa73d8499667e4371e3...,827955003,0.084729,2,2019,9
...,...,...,...,...,...,...,...
4367211,2018-12-30,651b554fa18976381aede609f5f873713ee2637b3d44c1...,651350002,0.013542,1,2018,12
26676444,2020-06-01,eb744554c3befceb78526d0b576379314c5cfa862ec34d...,685811002,0.016932,2,2020,6
28681507,2020-07-06,b126695ae06b535f05c6c74d762501515731d20983792e...,702368005,0.022017,2,2020,7
13648463,2019-07-10,e0f964da942a824e61172e2526f1ce33e1bf712c4fbfe9...,760223002,0.018576,2,2019,7
10277087,2019-05-15,de57370999392cd9be764da0ada7033e29d5d57e91c7e2...,708432003,0.022017,1,2019,5

list of customer who bought at least 20 pieces in 2020

In [16]:
freq_customers=customers[customers['customer_id'].isin(freq_trans['customer_id'])]
freq_customers

,customer_id,age,fashion_news_frequency,club_member_status
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,25.0,NONE,ACTIVE
13,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,56.0,Regularly,ACTIVE
21,0000f1c71aafe5963c3d195cf273f7bfd50bbf17761c91...,30.0,Regularly,ACTIVE
26,0001177027259b455f979d85a278e4b280205d4de5cce4...,31.0,Regularly,ACTIVE
38,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,44.0,Regularly,ACTIVE
...,...,...,...,...
1371879,fffae8eb3a282d8c43c77dd2ca0621703b71e90904dfde...,25.0,NONE,ACTIVE
1371921,fffcc686584b3388a3afe410e3555e3557f556382b2f60...,41.0,NONE,ACTIVE
1371949,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,55.0,Regularly,ACTIVE
1371960,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,29.0,Regularly,ACTIVE
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,21.0,NONE,ACTIVE

In [17]:
freq_customers.loc[freq_customers['fashion_news_frequency']=='NONE','fashion_news_frequency'] = float(0.0)
freq_customers.loc[freq_customers['fashion_news_frequency']=='Regularly','fashion_news_frequency'] = float(0.5)
freq_customers.loc[freq_customers['fashion_news_frequency']=='Monthly','fashion_news_frequency'] = float(1.0)

freq_customers.loc[freq_customers['club_member_status']=='PRE-CREATE','club_member_status'] = float(0.5)
freq_customers.loc[freq_customers['club_member_status']=='LEFT CLUB','club_member_status'] = float(0.0)
freq_customers.loc[freq_customers['club_member_status']=='ACTIVE','club_member_status'] = float(1.0)

In [18]:
articles = pd.read_csv('h-and-m-personalized-fashion-recommendations/articles.csv')
articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [19]:
articles = articles[['article_id','product_code','product_type_no','colour_group_code','section_no','garment_group_no']]

In [20]:
articles['article_id'] = articles.article_id.astype('int32')

In [21]:
freq_info = ran_freq_trans_info.merge(freq_customers,on='customer_id').merge(articles,on='article_id')
freq_info.head()

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,product_code,product_type_no,colour_group_code,section_no,garment_group_no
0,2019-05-24,0da46d2971859c31c9490b4e81cc527eae0bbd65ab2198...,762281001,0.025407,1,2019,5,24.0,0.5,1.0,762281,275,9,16,1002
1,2019-03-17,af1d5bd6e12cf7dc2cc0c5babff1cdee9b30dc693b7152...,762281001,0.025407,2,2019,3,23.0,0.5,1.0,762281,275,9,16,1002
2,2019-06-08,3834dbaeec194e25c0d56a08b57f64c9981d7be26bbd3e...,762281001,0.018627,1,2019,6,33.0,0.0,1.0,762281,275,9,16,1002
3,2018-09-30,1cb959fbc348d5cfba467f25fe0a7a115e726111315925...,687260002,0.033881,1,2018,9,51.0,0.0,1.0,687260,252,9,15,1003
4,2018-11-24,7dd7cd1973f317c64d91627877564cf567501bd64a5211...,687260002,0.027102,2,2018,11,29.0,0.0,1.0,687260,252,9,15,1003

In [22]:
#run
freq_info_r = freq_trans_info.merge(freq_customers,on='customer_id').merge(articles,on='article_id')
freq_info_r

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,product_code,product_type_no,colour_group_code,section_no,garment_group_no
0,2018-09-20,003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...,617322003,0.033881,1,2018,9,27.0,0.5,1.0,617322,258,9,2,1005
1,2018-09-20,003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...,617322003,0.018627,1,2018,9,27.0,0.5,1.0,617322,258,9,2,1005
2,2019-07-06,03688ec91eaf4d8569ec00a450567f829e122b7a368ce6...,617322003,0.014322,1,2019,7,47.0,0.5,1.0,617322,258,9,2,1005
3,2018-11-03,046d18ede21914c134c22206bda0e043526e24e5e54a29...,617322003,0.033881,2,2018,11,29.0,0.0,1.0,617322,258,9,2,1005
4,2018-09-20,0c4c518e5d1eaf3fc39f93463c2406ad8b659d6c22c910...,617322003,0.033881,2,2018,9,52.0,0.5,1.0,617322,258,9,2,1005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10641068,2020-08-02,8ed33a7923f599bf21e5e4c0df5c1d712ec42eccb0bb12...,876193002,0.016932,2,2020,8,38.0,0.5,1.0,876193,91,51,42,1020
10641069,2020-09-06,8ed33a7923f599bf21e5e4c0df5c1d712ec42eccb0bb12...,761822001,0.083034,2,2020,9,38.0,0.5,1.0,761822,262,73,45,1007
10641070,2020-09-06,8ed33a7923f599bf21e5e4c0df5c1d712ec42eccb0bb12...,849231002,0.022017,2,2020,9,38.0,0.5,1.0,849231,75,52,45,1019
10641071,2020-09-22,6ebc5f2290993f1d4cb76b647f6f2674de9bb37e452193...,923397001,0.016932,1,2020,9,NaN,0.0,1.0,923397,67,9,52,1019
10641072,2020-09-13,912e0ecdfac14e7134e5cb31c9ea8f5f7f4b0639f6bc69...,846599001,0.061000,2,2020,9,28.0,0.0,1.0,846599,262,9,45,1007

In [23]:
freq_info['fashion_news_frequency'].value_counts()

0.0    20287
0.5    19704
Name: fashion_news_frequency, dtype: int64

In [24]:
freq_info['club_member_status'].value_counts()

1.0    39814
0.5      123
0.0        3
Name: club_member_status, dtype: int64

In [25]:
freq_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40000 entries, 0 to 39999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   t_dat                   40000 non-null  object
 1   customer_id             40000 non-null  object
 2   article_id              40000 non-null  int64
 3   price                   40000 non-null  float64
 4   sales_channel_id        40000 non-null  int64
 5   year                    40000 non-null  int64
 6   month                   40000 non-null  int64
 7   age                     39943 non-null  float64
 8   fashion_news_frequency  39991 non-null  object
 9   club_member_status      39940 non-null  object
 10  product_code            40000 non-null  int64
 11  product_type_no         40000 non-null  int64
 12  colour_group_code       40000 non-null  int64
 13  section_no              40000 non-null  int64
 14  garment_group_no        40000 non-null  int64
dtypes: float64(2), int64(9), object(4)
memory usage: 4.9+ MB

In [26]:
freq_info.isnull().sum()

t_dat                      0
customer_id                0
article_id                 0
price                      0
sales_channel_id           0
year                       0
month                      0
age                       57
fashion_news_frequency     9
club_member_status        60
product_code               0
product_type_no            0
colour_group_code          0
section_no                 0
garment_group_no           0
dtype: int64

In [27]:
freq_info=freq_info.dropna()
freq_info

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,product_code,product_type_no,colour_group_code,section_no,garment_group_no
0,2019-05-24,0da46d2971859c31c9490b4e81cc527eae0bbd65ab2198...,762281001,0.025407,1,2019,5,24.0,0.5,1.0,762281,275,9,16,1002
1,2019-03-17,af1d5bd6e12cf7dc2cc0c5babff1cdee9b30dc693b7152...,762281001,0.025407,2,2019,3,23.0,0.5,1.0,762281,275,9,16,1002
2,2019-06-08,3834dbaeec194e25c0d56a08b57f64c9981d7be26bbd3e...,762281001,0.018627,1,2019,6,33.0,0.0,1.0,762281,275,9,16,1002
3,2018-09-30,1cb959fbc348d5cfba467f25fe0a7a115e726111315925...,687260002,0.033881,1,2018,9,51.0,0.0,1.0,687260,252,9,15,1003
4,2018-11-24,7dd7cd1973f317c64d91627877564cf567501bd64a5211...,687260002,0.027102,2,2018,11,29.0,0.0,1.0,687260,252,9,15,1003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2020-03-14,e7840536b0765e0040ce5f9cbd27e9e4e4e9c3e5c44232...,867240002,0.045339,1,2020,3,57.0,0.0,1.0,867240,245,17,20,1005
39996,2020-06-19,32c122344dafc811834d912435680b2ca129ce6c42818c...,861443001,0.024915,2,2020,6,31.0,0.0,1.0,861443,59,93,60,1018
39997,2018-12-21,b1e43733c614f450096b8e82e6a803c03c2a7a0b2dd921...,667499009,0.025407,1,2018,12,29.0,0.0,1.0,667499,258,9,15,1010
39998,2018-12-30,651b554fa18976381aede609f5f873713ee2637b3d44c1...,651350002,0.013542,1,2018,12,22.0,0.5,1.0,651350,252,7,6,1005
39999,2020-07-06,b126695ae06b535f05c6c74d762501515731d20983792e...,702368005,0.022017,2,2020,7,32.0,0.5,1.0,702368,78,53,52,1019

In [28]:
freq_info.loc[freq_info['fashion_news_frequency']=='NONE','fashion_news_frequency'] = float(0.0)
freq_info.loc[freq_info['fashion_news_frequency']=='Regularly','fashion_news_frequency'] = float(0.5)
freq_info.loc[freq_info['fashion_news_frequency']=='Monthly','fashion_news_frequency'] = float(1.0)
freq_info

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,product_code,product_type_no,colour_group_code,section_no,garment_group_no
0,2019-05-24,0da46d2971859c31c9490b4e81cc527eae0bbd65ab2198...,762281001,0.025407,1,2019,5,24.0,0.5,1.0,762281,275,9,16,1002
1,2019-03-17,af1d5bd6e12cf7dc2cc0c5babff1cdee9b30dc693b7152...,762281001,0.025407,2,2019,3,23.0,0.5,1.0,762281,275,9,16,1002
2,2019-06-08,3834dbaeec194e25c0d56a08b57f64c9981d7be26bbd3e...,762281001,0.018627,1,2019,6,33.0,0.0,1.0,762281,275,9,16,1002
3,2018-09-30,1cb959fbc348d5cfba467f25fe0a7a115e726111315925...,687260002,0.033881,1,2018,9,51.0,0.0,1.0,687260,252,9,15,1003
4,2018-11-24,7dd7cd1973f317c64d91627877564cf567501bd64a5211...,687260002,0.027102,2,2018,11,29.0,0.0,1.0,687260,252,9,15,1003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2020-03-14,e7840536b0765e0040ce5f9cbd27e9e4e4e9c3e5c44232...,867240002,0.045339,1,2020,3,57.0,0.0,1.0,867240,245,17,20,1005
39996,2020-06-19,32c122344dafc811834d912435680b2ca129ce6c42818c...,861443001,0.024915,2,2020,6,31.0,0.0,1.0,861443,59,93,60,1018
39997,2018-12-21,b1e43733c614f450096b8e82e6a803c03c2a7a0b2dd921...,667499009,0.025407,1,2018,12,29.0,0.0,1.0,667499,258,9,15,1010
39998,2018-12-30,651b554fa18976381aede609f5f873713ee2637b3d44c1...,651350002,0.013542,1,2018,12,22.0,0.5,1.0,651350,252,7,6,1005
39999,2020-07-06,b126695ae06b535f05c6c74d762501515731d20983792e...,702368005,0.022017,2,2020,7,32.0,0.5,1.0,702368,78,53,52,1019

In [29]:
freq_info.loc[freq_info['club_member_status']=='PRE-CREATE','club_member_status'] = float(0.5)
freq_info.loc[freq_info['club_member_status']=='LEFT CLUB','club_member_status'] = float(0.0)
freq_info.loc[freq_info['club_member_status']=='ACTIVE','club_member_status'] = float(1.0)
freq_info

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,product_code,product_type_no,colour_group_code,section_no,garment_group_no
0,2019-05-24,0da46d2971859c31c9490b4e81cc527eae0bbd65ab2198...,762281001,0.025407,1,2019,5,24.0,0.5,1.0,762281,275,9,16,1002
1,2019-03-17,af1d5bd6e12cf7dc2cc0c5babff1cdee9b30dc693b7152...,762281001,0.025407,2,2019,3,23.0,0.5,1.0,762281,275,9,16,1002
2,2019-06-08,3834dbaeec194e25c0d56a08b57f64c9981d7be26bbd3e...,762281001,0.018627,1,2019,6,33.0,0.0,1.0,762281,275,9,16,1002
3,2018-09-30,1cb959fbc348d5cfba467f25fe0a7a115e726111315925...,687260002,0.033881,1,2018,9,51.0,0.0,1.0,687260,252,9,15,1003
4,2018-11-24,7dd7cd1973f317c64d91627877564cf567501bd64a5211...,687260002,0.027102,2,2018,11,29.0,0.0,1.0,687260,252,9,15,1003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2020-03-14,e7840536b0765e0040ce5f9cbd27e9e4e4e9c3e5c44232...,867240002,0.045339,1,2020,3,57.0,0.0,1.0,867240,245,17,20,1005
39996,2020-06-19,32c122344dafc811834d912435680b2ca129ce6c42818c...,861443001,0.024915,2,2020,6,31.0,0.0,1.0,861443,59,93,60,1018
39997,2018-12-21,b1e43733c614f450096b8e82e6a803c03c2a7a0b2dd921...,667499009,0.025407,1,2018,12,29.0,0.0,1.0,667499,258,9,15,1010
39998,2018-12-30,651b554fa18976381aede609f5f873713ee2637b3d44c1...,651350002,0.013542,1,2018,12,22.0,0.5,1.0,651350,252,7,6,1005
39999,2020-07-06,b126695ae06b535f05c6c74d762501515731d20983792e...,702368005,0.022017,2,2020,7,32.0,0.5,1.0,702368,78,53,52,1019

In [30]:
freq_info['fashion_news_frequency'] = freq_info['fashion_news_frequency'].astype('float64')
freq_info['club_member_status'] = freq_info['club_member_status'].astype('float64')

In [31]:
freq_info_r['fashion_news_frequency'] = freq_info_r['fashion_news_frequency'].astype('float64')
freq_info_r['club_member_status'] = freq_info_r['club_member_status'].astype('float64')

In [32]:
freq_info.head()

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,product_code,product_type_no,colour_group_code,section_no,garment_group_no
0,2019-05-24,0da46d2971859c31c9490b4e81cc527eae0bbd65ab2198...,762281001,0.025407,1,2019,5,24.0,0.5,1.0,762281,275,9,16,1002
1,2019-03-17,af1d5bd6e12cf7dc2cc0c5babff1cdee9b30dc693b7152...,762281001,0.025407,2,2019,3,23.0,0.5,1.0,762281,275,9,16,1002
2,2019-06-08,3834dbaeec194e25c0d56a08b57f64c9981d7be26bbd3e...,762281001,0.018627,1,2019,6,33.0,0.0,1.0,762281,275,9,16,1002
3,2018-09-30,1cb959fbc348d5cfba467f25fe0a7a115e726111315925...,687260002,0.033881,1,2018,9,51.0,0.0,1.0,687260,252,9,15,1003
4,2018-11-24,7dd7cd1973f317c64d91627877564cf567501bd64a5211...,687260002,0.027102,2,2018,11,29.0,0.0,1.0,687260,252,9,15,1003

In [33]:
freq_info['colour_group_code_scale'] = (freq_info['colour_group_code']-freq_info['colour_group_code'].min())/(freq_info['colour_group_code'].max()-freq_info['colour_group_code'].min())
freq_info['garment_group_no_scale'] = (freq_info['garment_group_no']-freq_info['garment_group_no'].min())/(freq_info['garment_group_no'].max()-freq_info['garment_group_no'].min())
freq_info['product_type_no_scale'] = (freq_info['product_type_no']-freq_info['product_type_no'].min())/(freq_info['product_type_no'].max()-freq_info['product_type_no'].min())
freq_info['month_scale'] = (freq_info['month']-freq_info['month'].min())/(freq_info['month'].max()-freq_info['month'].min())
freq_info['age_scale'] = (freq_info['age']-freq_info['age'].min())/(freq_info['age'].max()-freq_info['age'].min())
freq_info.head()

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,product_code,product_type_no,colour_group_code,section_no,garment_group_no,colour_group_code_scale,garment_group_no_scale,product_type_no_scale,month_scale,age_scale
0,2019-05-24,0da46d2971859c31c9490b4e81cc527eae0bbd65ab2198...,762281001,0.025407,1,2019,5,24.0,0.5,1.0,762281,275,9,16,1002,0.106383,0.041667,0.362205,0.363636,0.106667
1,2019-03-17,af1d5bd6e12cf7dc2cc0c5babff1cdee9b30dc693b7152...,762281001,0.025407,2,2019,3,23.0,0.5,1.0,762281,275,9,16,1002,0.106383,0.041667,0.362205,0.181818,0.093333
2,2019-06-08,3834dbaeec194e25c0d56a08b57f64c9981d7be26bbd3e...,762281001,0.018627,1,2019,6,33.0,0.0,1.0,762281,275,9,16,1002,0.106383,0.041667,0.362205,0.454545,0.226667
3,2018-09-30,1cb959fbc348d5cfba467f25fe0a7a115e726111315925...,687260002,0.033881,1,2018,9,51.0,0.0,1.0,687260,252,9,15,1003,0.106383,0.083333,0.332021,0.727273,0.466667
4,2018-11-24,7dd7cd1973f317c64d91627877564cf567501bd64a5211...,687260002,0.027102,2,2018,11,29.0,0.0,1.0,687260,252,9,15,1003,0.106383,0.083333,0.332021,0.909091,0.173333

In [34]:

freq_info_r['colour_group_code_scale'] = (freq_info_r['colour_group_code']-freq_info_r['colour_group_code'].min())/(freq_info_r['colour_group_code'].max()-freq_info_r['colour_group_code'].min())
freq_info_r['garment_group_no_scale'] = (freq_info_r['garment_group_no']-freq_info_r['garment_group_no'].min())/(freq_info_r['garment_group_no'].max()-freq_info_r['garment_group_no'].min())
freq_info_r['product_type_no_scale'] = (freq_info_r['product_type_no']-freq_info_r['product_type_no'].min())/(freq_info_r['product_type_no'].max()-freq_info_r['product_type_no'].min())
freq_info_r['month_scale'] = (freq_info_r['month']-freq_info_r['month'].min())/(freq_info_r['month'].max()-freq_info_r['month'].min())
freq_info_r['age_scale'] = (freq_info_r['age']-freq_info_r['age'].min())/(freq_info_r['age'].max()-freq_info_r['age'].min())
freq_info_r.head()

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,product_code,product_type_no,colour_group_code,section_no,garment_group_no,colour_group_code_scale,garment_group_no_scale,product_type_no_scale,month_scale,age_scale
0,2018-09-20,003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...,617322003,0.033881,1,2018,9,27.0,0.5,1.0,617322,258,9,2,1005,0.106383,0.166667,0.33945,0.727273,0.141026
1,2018-09-20,003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...,617322003,0.018627,1,2018,9,27.0,0.5,1.0,617322,258,9,2,1005,0.106383,0.166667,0.33945,0.727273,0.141026
2,2019-07-06,03688ec91eaf4d8569ec00a450567f829e122b7a368ce6...,617322003,0.014322,1,2019,7,47.0,0.5,1.0,617322,258,9,2,1005,0.106383,0.166667,0.33945,0.545455,0.397436
3,2018-11-03,046d18ede21914c134c22206bda0e043526e24e5e54a29...,617322003,0.033881,2,2018,11,29.0,0.0,1.0,617322,258,9,2,1005,0.106383,0.166667,0.33945,0.909091,0.166667
4,2018-09-20,0c4c518e5d1eaf3fc39f93463c2406ad8b659d6c22c910...,617322003,0.033881,2,2018,9,52.0,0.5,1.0,617322,258,9,2,1005,0.106383,0.166667,0.33945,0.727273,0.461538

In [35]:
freq_info_r_model = freq_info_r[['age_scale','colour_group_code_scale','garment_group_no_scale','fashion_news_frequency','product_type_no_scale','month_scale','club_member_status']]

In [36]:
freq_info_r=freq_info_r.dropna()

In [37]:
X = freq_info[['age_scale','colour_group_code_scale','garment_group_no_scale','fashion_news_frequency','product_type_no_scale','month_scale','club_member_status']]
y = freq_info['article_id']

In [38]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39874 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age_scale                39874 non-null  float64
 1   colour_group_code_scale  39874 non-null  float64
 2   garment_group_no_scale   39874 non-null  float64
 3   fashion_news_frequency   39874 non-null  float64
 4   product_type_no_scale    39874 non-null  float64
 5   month_scale              39874 non-null  float64
 6   club_member_status       39874 non-null  float64
dtypes: float64(7)
memory usage: 2.4 MB

In [39]:
# split the dataset into the training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

KNN

In [40]:
from sklearn.neighbors import KNeighborsClassifier

In [41]:
k = 1
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

KNeighborsClassifier(n_neighbors=1)

In [42]:
yhat = neigh.predict(X_test)
yhat[0:5]

array([710611001, 331093001, 809500002, 706016002, 776887001], dtype=int64)

In [58]:
# from sklearn import metrics
# print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
# print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

In [44]:
freq_info_r_model.dropna()

,age_scale,colour_group_code_scale,garment_group_no_scale,fashion_news_frequency,product_type_no_scale,month_scale,club_member_status
0,0.141026,0.106383,0.166667,0.5,0.339450,0.727273,1.0
1,0.141026,0.106383,0.166667,0.5,0.339450,0.727273,1.0
2,0.397436,0.106383,0.166667,0.5,0.339450,0.545455,1.0
3,0.166667,0.106383,0.166667,0.0,0.339450,0.909091,1.0
4,0.461538,0.106383,0.166667,0.5,0.339450,0.727273,1.0
...,...,...,...,...,...,...,...
10641067,0.282051,0.553191,0.791667,0.5,0.120577,0.636364,1.0
10641068,0.282051,0.553191,0.791667,0.5,0.120577,0.636364,1.0
10641069,0.282051,0.787234,0.250000,0.5,0.344692,0.727273,1.0
10641070,0.282051,0.563830,0.750000,0.5,0.099607,0.727273,1.0
10641072,0.153846,0.106383,0.250000,0.0,0.344692,0.727273,1.0

In [45]:
freq_info_r_model = freq_info_r_model.dropna()

In [46]:
result_freq = neigh.predict(freq_info_r_model)

In [47]:
result_freq

array([763943008, 763943008, 614460008, ..., 772448001, 875052001,
       790006001], dtype=int64)

In [48]:
len(result_freq)

10607559

In [49]:
freq_info_r['article'] = result_freq.tolist()

In [50]:
freq_info_r

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,...,product_type_no,colour_group_code,section_no,garment_group_no,colour_group_code_scale,garment_group_no_scale,product_type_no_scale,month_scale,age_scale,article
0,2018-09-20,003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...,617322003,0.033881,1,2018,9,27.0,0.5,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.727273,0.141026,763943008
1,2018-09-20,003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...,617322003,0.018627,1,2018,9,27.0,0.5,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.727273,0.141026,763943008
2,2019-07-06,03688ec91eaf4d8569ec00a450567f829e122b7a368ce6...,617322003,0.014322,1,2019,7,47.0,0.5,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.545455,0.397436,614460008
3,2018-11-03,046d18ede21914c134c22206bda0e043526e24e5e54a29...,617322003,0.033881,2,2018,11,29.0,0.0,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.909091,0.166667,675139001
4,2018-09-20,0c4c518e5d1eaf3fc39f93463c2406ad8b659d6c22c910...,617322003,0.033881,2,2018,9,52.0,0.5,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.727273,0.461538,865938005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10641067,2020-08-02,8ed33a7923f599bf21e5e4c0df5c1d712ec42eccb0bb12...,876193002,0.016932,2,2020,8,38.0,0.5,1.0,...,91,51,42,1020,0.553191,0.791667,0.120577,0.636364,0.282051,879995002
10641068,2020-08-02,8ed33a7923f599bf21e5e4c0df5c1d712ec42eccb0bb12...,876193002,0.016932,2,2020,8,38.0,0.5,1.0,...,91,51,42,1020,0.553191,0.791667,0.120577,0.636364,0.282051,879995002
10641069,2020-09-06,8ed33a7923f599bf21e5e4c0df5c1d712ec42eccb0bb12...,761822001,0.083034,2,2020,9,38.0,0.5,1.0,...,262,73,45,1007,0.787234,0.250000,0.344692,0.727273,0.282051,772448001
10641070,2020-09-06,8ed33a7923f599bf21e5e4c0df5c1d712ec42eccb0bb12...,849231002,0.022017,2,2020,9,38.0,0.5,1.0,...,75,52,45,1019,0.563830,0.750000,0.099607,0.727273,0.282051,875052001
10641072,2020-09-13,912e0ecdfac14e7134e5cb31c9ea8f5f7f4b0639f6bc69...,846599001,0.061000,2,2020,9,28.0,0.0,1.0,...,262,9,45,1007,0.106383,0.250000,0.344692,0.727273,0.153846,790006001

In [51]:
re=freq_info_r.groupby('customer_id').head(12)
# re

In [52]:
re['customer_id'].value_counts()

689da1997e093c1f6df6b406c14d158d892ad3582db0942d2f2e24c7e107ad1d    12
dc75dd4704c2eda7146dad4114449f4d21524066bc80ea9725e33eaa2b92e34d    12
5bbcb26340567f19bbb6f292337d9a536d90278af95fc5b41e6b998d55ea22b3    12
b19e93996444c2072974e34a7b8812e04d7b93b769bc8a2e68fa2f6a2cd8b5ba    12
01f351d8cc825ebb569cf026f13d8e57b6e9083ec69180857913adcfaaae635e    12
                                                                    ..
f837e2383378a474a99410cac338ebad7fd6b7dfc5b988c53678b808f7868d6d    12
38d402fc5ff214799ea9d32bc39c4b5d978a5ea24299aafedacd4bb38e43e2eb    12
d5b5757606005417f24afe6731d0586c78b324241c5fce8d11e47436c675d46f    12
28d7ac865490fa865299461b5d5aab848bf359a4ec9621999333b9bbeaf52696    12
baf56788a540347af4b03029f3a0283495e7df4722498097945f6f060fec61b8    12
Name: customer_id, Length: 87408, dtype: int64

In [53]:
ree=re.drop_duplicates(subset = ['customer_id','article'])
ree

,t_dat,customer_id,article_id,price,sales_channel_id,year,month,age,fashion_news_frequency,club_member_status,...,product_type_no,colour_group_code,section_no,garment_group_no,colour_group_code_scale,garment_group_no_scale,product_type_no_scale,month_scale,age_scale,article
0,2018-09-20,003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...,617322003,0.033881,1,2018,9,27.0,0.5,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.727273,0.141026,763943008
2,2019-07-06,03688ec91eaf4d8569ec00a450567f829e122b7a368ce6...,617322003,0.014322,1,2019,7,47.0,0.5,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.545455,0.397436,614460008
3,2018-11-03,046d18ede21914c134c22206bda0e043526e24e5e54a29...,617322003,0.033881,2,2018,11,29.0,0.0,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.909091,0.166667,675139001
4,2018-09-20,0c4c518e5d1eaf3fc39f93463c2406ad8b659d6c22c910...,617322003,0.033881,2,2018,9,52.0,0.5,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.727273,0.461538,865938005
5,2019-01-11,1fca44d84e7949930c3ccd462f0a62bf178da7a898a6e9...,617322003,0.022017,2,2019,1,51.0,0.5,1.0,...,258,9,2,1005,0.106383,0.166667,0.339450,0.000000,0.448718,725825001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10384997,2020-05-04,166315813478867645b1bbd7a85d2c8e3be551c26575f9...,855792002,0.008458,2,2020,5,34.0,0.5,1.0,...,267,31,40,1005,0.340426,0.166667,0.351245,0.363636,0.230769,825318007
10397277,2020-05-04,166315813478867645b1bbd7a85d2c8e3be551c26575f9...,702978003,0.022017,2,2020,5,34.0,0.5,1.0,...,57,93,44,1019,1.000000,0.750000,0.076016,0.363636,0.230769,853325002
10400211,2020-09-10,dcb60fe4e12d0bbea8308cd161b8ce49e2d6ce5d37b431...,905834001,0.011847,2,2020,9,33.0,0.5,1.0,...,75,14,44,1019,0.159574,0.750000,0.099607,0.727273,0.217949,522461001
10424965,2020-09-10,dcb60fe4e12d0bbea8308cd161b8ce49e2d6ce5d37b431...,774918007,0.025407,2,2020,9,33.0,0.5,1.0,...,267,33,44,1005,0.361702,0.166667,0.351245,0.727273,0.217949,749699009
10472854,2020-08-27,42e575869befe682dbc49c3090a1a73d7e94300e733ac3...,917229001,0.050831,2,2020,8,37.0,0.0,1.0,...,265,9,8,1005,0.106383,0.166667,0.348624,0.636364,0.269231,739618001

In [54]:
reee=ree[['customer_id','article']]
reee

                                                customer_id    article
0         003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...  763943008
2         03688ec91eaf4d8569ec00a450567f829e122b7a368ce6...  614460008
3         046d18ede21914c134c22206bda0e043526e24e5e54a29...  675139001
4         0c4c518e5d1eaf3fc39f93463c2406ad8b659d6c22c910...  865938005
5         1fca44d84e7949930c3ccd462f0a62bf178da7a898a6e9...  725825001
...                                                     ...        ...
10384997  166315813478867645b1bbd7a85d2c8e3be551c26575f9...  825318007
10397277  166315813478867645b1bbd7a85d2c8e3be551c26575f9...  853325002
10400211  dcb60fe4e12d0bbea8308cd161b8ce49e2d6ce5d37b431...  522461001
10424965  dcb60fe4e12d0bbea8308cd161b8ce49e2d6ce5d37b431...  749699009
10472854  42e575869befe682dbc49c3090a1a73d7e94300e733ac3...  739618001

[844271 rows x 2 columns]

In [55]:
reee['customer_id'].value_counts()

c29410be23bc933fcf091149064867baf011de0573b207ca72f3ecd60ea033f1    12
1505f027b97c4329c22cc7264faa05038eb485c7ac54c48a8a439666dd6c6de4    12
e3ab13b1a3ed6d612cf14e7471a92a49cd220f64dfe1367a3b5a564147e7532a    12
af98ad7845efdfc5dd9c2af6c0f2e1cc6d982ef8b14d699671c9e39b584bf488    12
5deb428affa13a6b9434b17e2f91e9bb0baa8e529ec34a01fe02fd45a178135c    12
                                                                    ..
a24e8aba21120830dcae26e36952e5fe457896f59c8da845e72513ee4135ef19     1
fbe762c8d20a63a1dc126c2cc74adbe4f143003965bdc197200daa251e71ea93     1
ab50a294827cea456b975f6c66088c69236ebe248f9a588afaa16e2424a43a2c     1
9e6b0f76efc2f8a0dce58e94dd4a01b2324b91d6cdbaadbc17097232f2b54797     1
b2743e816fe9ae2762b6d2553980bce8e0dea44974c2af41056232a16d0c913b     1
Name: customer_id, Length: 87408, dtype: int64

In [56]:
reee['article'] = ' 0'+ree['article'].astype('str')

In [57]:
result = reee.groupby('customer_id').sum().reset_index()
result

,customer_id,article
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0822180001 0579541030 0742933002 0400246014 0...
1,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,0750423001 0736870005 0735840005 0637912002 0...
2,0000f1c71aafe5963c3d195cf273f7bfd50bbf17761c91...,0854619002 0693242018 0677049001 0351484026 0...
3,0001177027259b455f979d85a278e4b280205d4de5cce4...,0797569001 0863456003 0720125001 0747634002 0...
4,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,0767983001 0787946002 0508691012 0351933001 0...
...,...,...
87403,fffae8eb3a282d8c43c77dd2ca0621703b71e90904dfde...,0732418003 0594374005 0734595002 0148033001 0...
87404,fffcc686584b3388a3afe410e3555e3557f556382b2f60...,0759391003 0856270003 0783346001 0909915002 0...
87405,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0561814002 0739590032 0850917001 0549914003 0...
87406,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,0880333004 0707738003 0589440005 0564786001 0...
87407,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0733803001 0703389001 0767862001 0685813003 0...

In [61]:
result.columns = ['customer_id','predictions']

In [62]:
result

,customer_id,predictions
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0822180001 0579541030 0742933002 0400246014 0...
1,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,0750423001 0736870005 0735840005 0637912002 0...
2,0000f1c71aafe5963c3d195cf273f7bfd50bbf17761c91...,0854619002 0693242018 0677049001 0351484026 0...
3,0001177027259b455f979d85a278e4b280205d4de5cce4...,0797569001 0863456003 0720125001 0747634002 0...
4,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,0767983001 0787946002 0508691012 0351933001 0...
...,...,...
87403,fffae8eb3a282d8c43c77dd2ca0621703b71e90904dfde...,0732418003 0594374005 0734595002 0148033001 0...
87404,fffcc686584b3388a3afe410e3555e3557f556382b2f60...,0759391003 0856270003 0783346001 0909915002 0...
87405,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0561814002 0739590032 0850917001 0549914003 0...
87406,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,0880333004 0707738003 0589440005 0564786001 0...
87407,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0733803001 0703389001 0767862001 0685813003 0...